body {
  background-color: rgb(137, 132, 150);
}
p#alert {
    color: rgb(65, 52, 97);
    font-style: italic;
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(249, 244, 252);
    border: 2px solid black;
    padding: 1em;
    margin-top: 20px;
  margin-bottom: 150px;
  margin-right: 150px;
  margin-left: 150px;
  }

  div.tribute{
    font-style: italic;
    font-weight: bolder;
    text-underline-position: below;
    color: rgb(83, 6, 119);
    text-align: center;
  }
